<form class='form'>
  <button class='button' type="submit">
    <svg class="button__icon-search" aria-label="Иконка поиска">
      <use href="./images/sprite.svg#search"></use>
    </svg>
    <span class="button__text">Search</span></button>
  <input class='form__search-input' type='text' name='query' autocomplete='off' placeholder='Search images...' />
  <button class='button' type="button" id="clear-button">
    <svg class="button__icon-clear" aria-label="Иконка очистки">
      <use href="./images/sprite.svg#clear"></use>
    </svg>
    <span class="button__text">Clear</span></button>
</form>