.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  border: 6px solid $first-acent-color;
  border-radius: 50px;
  opacity: 0;
  z-index: 1100;
  animation: pulsate 1500ms $cubic infinite;
  transition-property: transform;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
