.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon-sun,
.theme-switch__icon-moon {
  width: 24px;
  height: 24px;
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.theme-switch__icon-moon {
  color: $second-color;
}

body.dark-theme .theme-switch__icon-moon,
.theme-switch__icon-sun {
  color: $first-acent-color;
}

body.dark-theme .theme-switch__icon-sun {
  color: $first-color;
}

.theme-switch__control {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 8px;
  margin-left: 8px;
  width: 60px;
  height: 30px;
  padding: 3px 0;
  border-radius: 15px;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;

  &:checked + .theme-switch__track {
    background-color: $first-color;
  }

  &:checked ~ .theme-switch__marker {
    transform: translateX(33px);
  }
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: $second-color;
  border-radius: inherit;
  user-select: none;
  z-index: 1;
  transition-property: background-color;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.theme-switch__marker {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: $first-acent-color;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  transform: translateX(4px);
  transition-property: transform;
  transition-duration: $time;
  transition-timing-function: $cubic;
}
